header{
    width: 100%;
    height: 100px;
}
header .bs_logo{
    line-height: 100px;
}
header .bs_search{
    margin-top: 34px;
}
header .bs_login{
    line-height: 100px;
}

section .bs_menu{
    background: #189EFF;
}
section .bs_menu .bs_menu_left span{
    color: #fff;
}
section .bs_menu .bs_menu_right a{
    color: #fff;
}
section .bs_list{
    height: auto;
}
section .bs_sanpham .bs_sanpham_img{
    width: 100%;
}
section .bs_sanpham .bs_sanpham_dat{
    width: 100%;
}

footer{
}